@*
   upload file
*@
@{
    ViewData["Title"] = "Upload";
}

<h1>Create</h1>

<form id="my-dropzone" class="dropzone" enctype="multipart/form-data" asp-action="Create" method="post">
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
    <div class="dz-message" data-dz-message>
        <span>Drop files here or click to upload.</span>
    </div>
</form>

@section scripts {
    <script src="~/lib/dropzone/min/dropzone.min.js"></script>
    <script>
        Dropzone.options.myDropzone = {
            autoProcessQueue: true, // Envoyer les fichiers immédiatement après les avoir ajoutés
            uploadMultiple: false, // Vous pouvez modifier cette option selon vos besoins
            parallelUploads: 1, // Limite le nombre de fichiers à uploader en même temps
            maxFiles: 1, // Limite le nombre de fichiers à uploader
            init: function () {
                this.on("success", function (file, response) {
                    window.location.href = response.redirectUrl; // Rediriger vers une autre page après l'upload
                });
            }
        };
    </script>
}

@section styles {
    <link rel="stylesheet" href="~/lib/dropzone/min/dropzone.min.css" />
}
